@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <h1>Free time library</h1>
    </header>

    <div class="menu-container">
        @Body  <!-- This renders the content from pages that use this layout -->
    </div>
</div>